.question-prompt {
  padding: 1.5rem;
  width: 100%;
  color: rgb(44, 43, 43);
  background-color: var(--tertiary);
  border: 3px solid var(--primary);
  border-radius: 45px;
  font-size: large;
  text-align: center;
}



#answers {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: large;  
}

.choice-text:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgb(44, 43, 43);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: rgb(44, 43, 43);
  background-color: var(--tertiary);
  border: 3px solid var(--primary);
  border-radius: 45px;
  font-size: large;
}

#correct-text {
  padding: 1.5rem;
  width: 100%;
  color: rgb(44, 43, 43);
  background-color: var(--tertiary);
  border: 3px solid var(--primary);
  border-radius: 45px;
  font-size: large;
}

.next-question {
  padding: 1.5rem;
  width: 100%;
  color: rgb(44, 43, 43);
  background-color: var(--tertiary);
  border: 3px solid var(--primary);
  border-radius: 45px;
  font-size: large;
}

.next-question:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgb(44, 43, 43);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

