:root {
  --primary: rgb(84, 84, 136);
  --secondary: rgb(166, 166, 206);
  --tertiary: rgb(224, 224, 129);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(44, 43, 43);
  background-color: var(--secondary);
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 45px;
  padding: 2 rem;
}

#container > * {
  width: 100%;
}

#flex-column {
  display: flex;
  flex-direction: column;
}

#flex-center {
  justify-content: center;
  align-items: center;
}

#justify-center {
  justify-content: center;
}

#text-center {
  text-align: center;
}

#currentQuestion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 45px;
  padding: 2 rem;
  margin-bottom: 1rem;
  background-color: var(--tertiary);
  font-size: 5.4rem;
  color: rgb(44, 43, 43);
  text-align: center;
  border: 3px solid var(--primary);
}

#button:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgb(44, 43, 43);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#answers {
  padding: 1.5rem 2.5rem;
  background-color: var(--primary);
  color: rgb(44, 43, 43);
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border-radius: 45px;
  justify-content: space-between;
}

#hud {
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: var(--secondary);
  color: rgb(44, 43, 43);
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  border: none;
  background-color: var(--secondary);
  color: rgb(44, 43, 43);
}

.hud-main-text {
  text-align: center;
  border: none;
  background-color: var(--secondary);
  color: rgb(44, 43, 43);
}

.choice-text {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid var(--secondary);
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(44, 43, 43);
  background-color: var(--tertiary);
  border: 3px solid var(--primary);
  border-radius: 45px;
  justify-content: space-between
}

.choice-text:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem rgb(44, 43, 43);
  transform: translateY(-0.1rem);
  transition: transform 150ms;